<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page for Flask</title>
</head>
<body>
    <h1> Welcome to the template page    </h1>
    <h3> {{owner}} </h3>

    <ul>
        {% for fruit in fruits %}
        <li>{{ fruit }}</li>
        {% endfor %}
    </ul>

    <img src="https://www.wallpaperup.com/uploads/wallpapers/2013/04/08/72263/b7ee47a472862131a53ec29c543a5e06-1000.jpg" alt="weeb.jpg" />
</body>
</html>